{% extends "base_generic.html" %}

{% block title %}Opportunity List{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Opportunity List</h2>
  
  <a href="{% url 'opportunity_create' %}" class="btn btn-primary mb-3">Add New Opportunity</a>
  
  <div class="row">
    {% for opportunity in opportunities %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ opportunity.customer }}</h5>
            <p class="card-text">{{ opportunity.description }}</p>
            <a href="{% url 'opportunity_detail' opportunity.pk %}" class="btn btn-info btn-sm">View Details</a>
            <a href="{% url 'opportunity_edit' opportunity.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'opportunity_delete' opportunity.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}




{% comment %} {% extends "base_generic.html" %}

{% block title %}Opportunity List{% endblock %}

{% block content %}
  <h2>Opportunity List</h2>
  <a href="{% url 'opportunity_create' %}">Add new opportunity</a>
  <ul>
    {% for opportunity in opportunities %}
      <li>
        <p>{{ opportunity.customer }}</p>
        <a href="{% url 'opportunity_detail' opportunity.pk %}">{{ opportunity.description }}</a>
        (<a href="{% url 'opportunity_edit' opportunity.pk %}">edit</a>,
        <a href="{% url 'opportunity_delete' opportunity.pk %}">delete</a>)
      </li>
    {% endfor %}
  </ul>
{% endblock %} {% endcomment %}
